Django==4.2
gunicorn==21.2.0
psycopg2-binary>=2.9.10
django-storages==1.14.2
boto3==1.34.69
django-ratelimit==4.1.0
beautifulsoup4==4.12.3
requests==2.31.0
Pillow==12.2.0
python-dotenv==1.0.0
wikipedia-api==0.6.0